@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Poppins&display=swap');

body {
  max-width: 375px;
  margin: 8px;
  background: #eee;
  height: 100vh;
}

main {
  position: absolute;
  margin: auto;
  width: 375px;
  height: 576px;
  display: flex;
  left: 8px;
  top: 64px;
  background-image: url('./images/Rectangle73.jpg');
  background-size: contain;
  box-shadow: 30px 0 40px rgba(0, 0, 0, 0.1), -30px 0 40px rgba(0, 0, 0, 0.1);
}

h1 {
  position: absolute;
  top: 80px;
  width: 327px;
  height: 124px;
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 50px;
  padding-left: 24px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  flex: none;
  order: 0;
  flex-grow: 0;
}

h2 {
  position: absolute;
  top: 236px;
  width: 327px;
  height: 27px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  padding-left: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #fff5e1;
  flex: none;
  order: 1;
  flex-grow: 0;
}

p {
  position: absolute;
  top: 275px;
  width: 327px;
  height: 123px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  padding-left: 24px;
  line-height: 24px;
  color: #fff;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.main {
  position: absolute;
  display: flex;
  width: 375px;
  height: 56px;
  left: 8px;
  right: 0;
  top: 8px;
  background: #3c3a39;
}

h3 a {
  position: absolute;
  width: 77px;
  height: 5px;
  top: 25px;
  left: 22px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.union {
  max-width: 5%;
}

nav .vector {
  width: 18px;
  height: 10px;
  background: #3c3a39;
  top: 22px;
  right: 10%;
  z-index: 5;
  position: absolute;
}

nav .vector span {
  display: block;
  width: 100%;
  background: #fff;
  height: 2px;
}

nav .vector span:nth-child(2) {
  margin: 3px 0;
}

.social a {
  position: relative;
  top: 410px;
  width: 25px;
  height: 25px;
  padding-left: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: #eee;
}
